* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
	height: 100%;

}

body, #page {
	margin: 0;
	width: 100%;
	height: 100%;

	font-family: ocrbmedium, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;

	/*white-space:nowrap;*/
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-text-size-adjust: 100%;
}

p {
	margin-top: 0px;
}

img {
	width: 100%;
}

.fullscreen {
	/* width: auto; */
	height: auto;
}

ul {
	list-style-type: none;
	padding-left: 20px;
	margin: 0px;
}

ul:first-child {
	padding-left: 0px;
}

.column-container-container {
	display: inline;
}

.column-container {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 33vw;
	white-space: initial;
	padding: 20px;
}

#fullscreen:-webkit-full-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  box-sizing:border-box;
  width:100%;
  height:100%;
  object-fit:contain;
  background-color: black;
}

#fullscreen:-ms-fullscreen {
	width: auto;
	height: auto;
	margin: auto;
}

a {
  text-decoration: none;
  color: black;
}

.content a:hover {
  opacity: 0.5;
}

.content a:hover > div {
  opacity: 0.5;
}

#logo {
  width: 180px;
  height: 180px;

  position: fixed;
  bottom: 0;
  right: 0;
  padding: 15px;
}

.container {
  padding-bottom: 200px;
}

.content {
  width: 500px;
  max-width: 100%;
  padding: 15px;
}

.content .page-title {
  text-transform: uppercase;
}

.content-program {
  margin-bottom: 1em;
}

.content-program-title {
  text-transform: uppercase;
}

.media {
  margin-top: 4em;
}

.media-item {
  width: 100%;
  margin-bottom: 15px;
}

.media-item .media-image {
}

.media-item .media-caption {
  /* margin-top: .5em; */
  margin-bottom: 1em;
  font-size: 11px;
  line-height: 14px;
}


.gallery {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;

  width: 100vw;
  height: 100vh;

  background-color: #fff;

  display: none;
}

.gallery-item {
  width: 100%;
  height: 100%;
}

.gallery-image {
  width: 100%;
  height: 100%;
}

.gallery-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-arrow {
  z-index: 502;
  cursor: pointer;
}

.gallery-arrow img {
  height: 20px;
  width: auto;
}

#cross {
  position: fixed;
  top: 15px;
  right: 15px;
}

#left-arrow {
  position: fixed;
  bottom: 15px;
  left: 15px;
}

#right-arrow {
  position: fixed;
  bottom: 15px;
  right: 15px;
}

/* utility classes */
.noscroll{
  overflow:hidden;
}
.click {
  cursor: pointer;
}
.blink {
  animation: blink 1s linear infinite;
}
.sticky {
  position: sticky;
  top: 15px;
}
.full {
  width: 100%;
}

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}

@keyframes blur {
  50% {
    filter: blur(1em);
  }
}

.blur {
  filter: blur(0px);
  animation: blur 3s linear infinite;
}
.v-centre {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.hidden {
	display: none;
	visibility: hidden;
}

.visible {
	visibility: visible;
}

@media screen and (max-width: 1000px) {
  .container {
  }

  .content {
    width: 100%;
  }

  .media {
  }

  .media-item {
  }

  .media-item .media-image {
  }

  .media-item .media-caption {
  }

  #logo {
    width: 90px;
    height: 90px;

    position: fixed;
    bottom: 0;
    right: 0;
    padding: 15px;
  }


}
